<!DOCTYPE html>
<html>
<body>

<h1><center><FONT FACE="arial">welcome to beeptext</FONT></center></h1>
<br><br>
<div style="width:100%;"> 
<div style="float:left; width:50%;">
<center><FONT FACE="arial">text to beep</FONT></center>
<br>
<form action='/submit' method='post'>
  <label for='message'><center><FONT FACE="arial">type your message</FONT></label>
  <input name='message' type='text'></input>
 </form>
</div>
<div style="float:right; width:50%; ">
<center><FONT FACE="arial">beep to text</FONT></center>
<br>
<form action='/submit' method='post'>
  <label for='decode'><center><FONT FACE="arial">choose file</FONT></label>
  <input type = "file">
 </form>
</div>
 
</div>

</body>
</html>